include LICENSE README*
recursive-include docs *.md
recursive-include examples *.py
recursive-include tests *.py *.sh *.crt *.key *.sample *.empty

prune .github
prune Makefile
prune pylintrc
prune CONTRIBUTING.md
prune MAINTAINERS.md
