name: Python package

on:
  pull_request:
    branches:
    - master
  push:
    branches:
    - master

jobs:
  build:
    name: Test on python ${{ matrix.python-version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
        os: [macos-12]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools
        pip install certifi urllib3 mock pytest
    - name: Add to PATH if Python version >= 3.11
      if: matrix.python-version == '3.11' && matrix.os == 'macos-12'
      run: |
        export PATH=${HOME}/Library/Python/3.11/bin:${PATH}
    - name: Add to PATH for Python version < 3.11
      run: |
        export PATH=${HOME}/.local/bin:${PATH}
    - name: Run checks
      run: |
        make check
    - name: Run unit tests
      run: |
        python setup.py install
        pytest
